*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Android
local.properties

# IntelliJ
*.iml
.idea/

# OS X
.DS_Store

# Gradle
build
/reports
/.gradle

# Emacs
*.*~

# Python
*.pyc
